<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <%- include('../partials/characters') %>

    <% if(underline) { %>
        <p>This should be underlined!</p>
    <% } else { %>
        <p>no underlines</p>
    <% } %>


</body>
</html>